<h2>Add a new task:</h2>

<form action="/members" method="post">
  <label for="memberName">Name of </label>
  <input id="memberName" name="memberName" type="text">

  <button type="submit" class="btn btn-danger">Add new name</button>
</form>
