<h1>Members List</h1>

#if ($members)
  <ul>
    #foreach ($member in $members)
      <li><a href="/members/view/$member.getId()">$member.getMemberName()</a></li>
    #end
  </ul>
#else
  <p>This list is currently empty.</p>
#end

<a href="/members/new">Add New Name</a>
