<h1>$team.getTeamName()</h1>
#if (!$team.getAllMembers().isEmpty())
  <ul>
    #foreach ($member in $team.getAllMembers())
      <li><a href="/members/view/$member.getId()">$member.getMemberName()</a></li>
    #end
  </ul>
#else
  <p>There are no member.</p>
#end
<a href="/teams/$team.getId()/members/new">Add member</a><br>
<a href="/teams">All teams</a>
