<h2>Add a new team:</h2>

<form action="/teams" method="post">
  <label for="teamName">Please type your team name </label>
  <input id="teamName" name="teamName" type="text">

  <button type="submit" class="btn btn-danger">Add new name</button>
</form>
