<!DOCTYPE html>
<html>
  <head>
    <title>Annually Hack-a-thons!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet"
  </head>
  <body>
  <!--begin main template-->
    <div class="container">
      #parse( $template )
    </div>
    <!--end main template-->
  </body>
</html>
