<h1>Teams List</h1>

#if ($teams)
  <ul>
    #foreach ($team in $teams)
      <li><a href="/teams/view/$team.getId()">$team.getTeamName()</a></li>
    #end
  </ul>
#else
  <p>This list is currently empty.</p>
#end

<a href="/teams/new">Add New Team</a>
